﻿@{
    ViewBag.Title = "MyFollowers";
}

<h2>Abonnés</h2>
<p>Affiche la liste des utilisateurs qui me suivent</p>
<a href="/Account/Show">Mon premier follower</a>

<br />
Followers: @ViewBag.nbFollowers<br />
My Followers: @ViewBag.nbMyFollowers <br />

<br /><br />

<br /><br />

<table>
    <tr>
        <td>Liste des personnes qui me suivent (Followers)</td>
    </tr>
    @if (ViewBag.listFollowers != null)
    {
        foreach (var item in @ViewBag.listFollowers)
        {
        <tr>
            <td>@item.Prenom @item.Nom<br /></td>
            <td>@item.Login<br /></td>
            @if (@ViewBag.listMyFollowers.Contains(item) == false)
            {
                <td>@Html.ActionLink("DoFollow", "DoFollow", new { login = item.Login })</td>
            }
            else
            {
                <td>@Html.ActionLink("DoUnfollow", "DoUnfollow", new { login = item.Login })</td>
            }
        </tr>
        }
    }
    else
    {
        <tr>
            <td>Personne ne vous suit pour le moment.</td>
        </tr>
    }
</table>
<br /><br />


<table>
    <tr>
        <td>Liste des personnes que je suits (My Followers)</td>
    </tr>
    
@if (ViewBag.listMyFollowers != null)
{
    foreach (var item in @ViewBag.listMyFollowers)
    {
        <tr>
            <td>@item.Prenom @item.Nom<br /></td>
            <td>@item.Login<br /></td>
            @if (@ViewBag.listMyFollowers.Contains(item) == false)
            {
                <td>@Html.ActionLink("DoFollow", "DoFollow", new { login = item.Login })</td>
            }
            else
            {
                <td>@Html.ActionLink("DoUnfollow", "DoUnfollow", new { login = item.Login })</td>
            }
        </tr>
    }
}
else
{
    <tr>
        <td>Vous suivez personne pour le moment.</td>
    </tr>
}

</table>
<br /><br />