﻿@{
    ViewBag.Title = "Followers";
}

<h2>Abonnements</h2>
<p>Page qui affiche la liste des utilisteurs que je suis (du verbe suivre / to follow)</p>
<a href="/Account/Show">Mon premier abonnement</a>
<br />
Followers: @ViewBag.nbFollowers<br />
My Followers: @ViewBag.nbMyFollowers <br />

<br /><br />

<table>
    <tr>
        <td>Liste des personnes qui me suivent (Followers)</td>
    </tr>
    @if (ViewBag.listFollowers != null)
    {
        foreach (var item in @ViewBag.listFollowers)
        {
        <tr>
            <td>@item.Prenom @item.Nom<br /></td>
            <td>@item.Login<br /></td>
            @if (@ViewBag.listMyFollowers.Contains(item) == false)
            {
                           <td>@Ajax.ActionLink(   "DoFollow",
                                        "DoFollow",
                                        new { login = item.Login },
                                        new AjaxOptions {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "body",
                                    })
            </td>
            }
            else
            {
                           <td>@Ajax.ActionLink(   "DoUnfollow",
                                        "DoUnfollow",
                                        new { login = item.Login },
                                        new AjaxOptions {
                                        HttpMethod = "GET",
                                        InsertionMode = InsertionMode.Replace,
                                        UpdateTargetId = "body"
                                    })
            </td>
            }

        </tr>
        }
    }
    else
    {
        <tr>
            <td>Personne ne vous suit pour le moment.</td>
        </tr>
    }
</table>
<br /><br />


<table id="doFollowId">
    <tr>
        <td>Liste des personnes que je suits (My Followers)</td>
    </tr>
    
@if (ViewBag.listMyFollowers != null)
{
    foreach (var item in @ViewBag.listMyFollowers)
    {
        <tr>
            <td>@item.Prenom @item.Nom<br /></td>
            <td>@item.Login<br /></td>
            <td>@Html.ActionLink("DoUnfollow", "DoUnfollow", new { login = item.Login })</td>
        </tr>
    }
}
else
{
    <tr>
        <td>Vous suivez personne pour le moment.</td>
    </tr>
}

</table>
<br /><br />
