﻿@model PicsMapWeb.Models.SearchModel

@{
    ViewBag.Title = "Followers";
}

<!-- list content -->
<div class="content_list_user">
    <ul class="list_title_search">
	    <li><strong>Mes abonnements</strong></li>
	    <li>
            @using (Ajax.BeginForm("Followers", new AjaxOptions { UpdateTargetId = "ajaxContent" }))
            {
                    @Html.TextBoxFor(m => m.Login, new { @Value = "Rechercher", @onclick = "clickclear(this,'Rechercher')" })
            }
        </li>
    </ul>
    <div id="ajaxContent">
        @{Html.RenderPartial("~/Views/Shared/_FollowerList.cshtml");}
    </div>
	<div id="content_footer">&nbsp;</div>
</div>
    
