﻿@{
    ViewBag.Title = "_PhotoList";
}

<!-- list content -->
<div class="content_list">

    <div class="content_list_photo">
        @if (ViewBag.photosList != null)
        {
            foreach (var item in @ViewBag.photosList)
            {
                string photoId = "photoItem" + item.Id;
                <a id="@photoId" href="/Photo/Show/?idPhoto=@item.Id&idCpt=@item.cpt_Id"><img src="@item.Url" alt="" /></a>
            }
        }
    </div>
    <div class="content_list_info">
        <div>
            <strong>Informations</strong>
            <!--span>
                <img src="@Url.Content("~/Content/i/star+.png")" alt=""/>
                <img src="@Url.Content("~/Content/i/star+.png")" alt=""/>
                <img src="@Url.Content("~/Content/i/star+.png")" alt=""/>
                <img src="@Url.Content("~/Content/i/star.png")" alt=""/>
                <img src="@Url.Content("~/Content/i/star.png")" alt=""/>
            </span-->
        </div>
        <div class="list_info">
            <div class="list_info_key">
                <p>Nom de la photo:</p>
                <p>Description:</p>
                <p>Auteur:</p>
                <p>Date d'ajout:</p>
            </div>
            <div class="list_info_value">
                <p id="list_info_value_name"></p>
                <p id="list_info_value_desc"></p>
                <p id="list_info_value_username"></p>
                <p id="list_info_value_date"></p>
            </div>
        </div>
    </div>
</div>