﻿@model PicsMapWeb.Models.LogOnModel

@{
    ViewBag.Title = "Home Page";
}
<!-- main content -->
<div id="content_map_home">
    <div id="map" style="width:500px;height:311px;"></div>
</div>
			
<!-- login content -->
<div class="content_account margin_bottom_10">
	@using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Echec de la connexion. Corrigez les erreurs et recommencez.", new {@style = "color:red;"})
     
        @Html.TextBoxFor(m => m.UserName, new { @class = "input_text_1", @Value = "Pseudo", @onclick = "clickclear(this,'Pseudo')" })
        @Html.ValidationMessageFor(m => m.UserName, null, new {@style = "color:red;"})<br />
     
		@Html.PasswordFor(m => m.Password, new { @class = "input_text",  @Value = "Mot de passe", @onclick = "clickclear(this,'Mot de passe')" })
     
		<input class="input_submit" type="submit" value="Connexion"/><br/>
		@Html.ValidationMessageFor(m => m.Password, null, new { @style = "color:red;" })
        
    }
</div>
			
<!-- register content -->
<div class="content_account">
	<strong>Nouveau sur PicsMap?</strong><em> Inscrivez-vous!</em>
	<form action="/Account/Register">
		<input class="input_text" type="text" id="firstname" name="firstname" value="Prénom" onclick="clickclear(this,'Prénom')"/>
		<input class="input_text" type="text" id="lastname" name="lastname" value="Nom" onclick="clickclear(this,'Nom')"/><br/>
		<input class="input_text" type="text" id="login" name="login" value="Pseudo" onclick="clickclear(this,'Pseudo')"/><br/>
		<input class="input_text" type="text" id="email" name="email" value="Adresse électronique" onclick="clickclear(this,'Adresse électronique')"/>
        <br/>
		<label>Sexe: </label>
		<select>
			<option value="h">H</option>
			<option value="f">F</option>
		</select>
        <fb:login-button class="fb_connect" perms="email,user_checkins" onlogin="afterFacebookConnect();" autologoutlink="false" ></fb:login-button>
        <div id="fb-root" style="display:inline; margin-left:20px;"></div><br/>
		<label>Date de naissance: </label>
		<input class="input_text_date" type="text" maxlength="2"/>
		<input class="input_text_date" type="text" maxlength="2"/>
		<input class="input_text_year" type="text" maxlength="4"/>
		<input class="input_submit_yellow" type="submit" value="S'inscrire"/>
	</form>
</div>