﻿@model PicsMapWeb.Models.FilterModel

@{
    ViewBag.Title = "Private";
}

<script type="text/javascript">
    var photos = @Html.Raw(ViewBag.photoListJS);
    var markers = @Html.Raw(ViewBag.markerListJS);
    updateClusterMap();
</script>

<div id="message_display"></div>
<!-- map content -->
<div id="content_map">
    <ul class="map_title">
        <li><strong>Zoom sur l'actualité</strong></li>
        <li>

        @using (Ajax.BeginForm("Private", new AjaxOptions { UpdateTargetId = "body" }))
        {
            @Html.DropDownListFor(x => x.Filter, Model.Filters)

            <!--select id="photoSelectBox" onchange="mySubmitForm()">
                <option>Les dernières photos postées</option>
                <option>Les dernières photos de mes amis</option>
                <option>Les photos de mes amis</option>
                <option>Mes photos</option>
            </select-->

            
        }

        </li>
        <li><form method="post">@Html.TextBoxFor(m => m.tagValue, new { @Value = "Rechercher", @onclick = "clickclear(this,'Rechercher')" })</form></li>
    </ul>


    <div id="map"></div>
</div>

<div id="ajaxContent">
    <h1>Liste des dernières photos prises</h1>
    @{Html.RenderPartial("~/Views/Shared/_PhotoList.cshtml");}
</div>